<footer class="page-footer">
    <div lang="en-US">
        <strong>Hey!</strong>
        <p>Yeah, this page is in Spanish. Sorry if that's a problem for you. Here's a handy translate tool:</p>
        <div id="google_translate_element"></div>
    </div>
    <div class="build-stats">
        <figure class="build-stat-fig">
            <figcaption class="build-stat-figcap">Estado del repositorio (<a href="https://travis-ci.org/SirReal/SirReal.github.io">Travis</a>):</figcaption>
            <img src="https://travis-ci.org/SirReal/SirReal.github.io.png?branch=master" class="build-stat-img" alt="Estado del repositorio (Travis)">
        </figure>
        <figure class="build-stat-fig">
            <figcaption class="build-stat-figcap">Estado dependencias (<a href="https://david-dm.org/SirReal/SirReal.github.io">David</a>):</figcaption>
            <img src="https://david-dm.org/SirReal/SirReal.github.io.png" class="build-stat-img" alt="Estado dependencias (David)">
        </figure>
    </div>
</footer>
