<footer class="page-footer">
    <div lang="en">
        <strong>Hey!</strong>
        <p>This page is in Spanish. I know. I'm not sorry and I'm not going to translate all of my own content right now. That just seems like a waste of time. What I <em>will</em> do is provide you with a sweet Google translation link:</p>
        <div id="google_translate_element"></div>
    </div>
    <p><small>Estilo basado en un trabajo de <a href="https://github.com/orderedlist">orderedlist</a>.</small></p>
</footer>
