<footer class="page-footer">
    <div lang="en-US">
        <strong>Hey!</strong>
        <p>This page is in Spanish. I know. I'm not sorry and I'm not going to translate all of my own content right now. That just seems like a waste of time. What I <em>will</em> do is provide you with a sweet Google translation link:</p>
        <div id="google_translate_element"></div>
    </div>
    <div class="stats">
        <figure>
            <img src="https://travis-ci.org/SirReal/SirReal.github.io.png?branch=master" alt="Estado del repositorio (Travis)">
            <figcaption>Estado del repositorio (<a href="https://travis-ci.org/SirReal/SirReal.github.io">Travis</a>)</figcaption>
        </figure>
        <figure>
            <img src="https://david-dm.org/SirReal/SirReal.github.io.png" alt="Estado dependencias (David)">
            <figcaption>Estado dependencias (<a href="https://david-dm.org/SirReal/SirReal.github.io">David</a>)</figcaption>
        </figure>
    </div>
</footer>
